<div class="container">
  <h1>Welcome, Librarian!</h1>
  <hr>
  <h3>Actions:</h3>
  <ul class="list-group">
    <li class="list-group-item">
      <a [routerLink]="'/managesubscribers'">Manage Subscribers</a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="'/manageusers'">Manage Users</a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="'/managereservations'">Manage Reservations</a>
    <li class="list-group-item">
      <a [routerLink]="'/managebooks'">Manage Books</a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="'/managetypebooks'">Manage Books Types</a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="'/manageauthors'">Manage Authors</a>
    </li>

  </ul>

</div>
