<!-- <form (ngSubmit)="PostUser()" class="mb-4">

    <div class="container">
        <div class="form-group">
            <h1 class="text-center">Ajout d'un utilisateur</h1>
            <input [(ngModel)]="nom" class="form-control" name="nom" placeholder="nom" type="text">
        </div>
        <div class="form-group">
            <input [(ngModel)]="prenom" class="form-control" name="prenom" placeholder="prenom" type="text">
        </div>
        <div class="form-group">
            <input [(ngModel)]="adresse" class="form-control" name="adresse" placeholder="adresse" type="text">
        </div>
        <div class="form-group">
            <input [(ngModel)]="login" class="form-control" name="login" placeholder="login" type="text">
        </div>
        <div class="form-group">
            <input [(ngModel)]="mot_de_passe" class="form-control" name="mot_de_passe" placeholder="mot_de_passe" type="text">
        </div>
        <div class="form-group">
            <input [(ngModel)]="bibliothecaire" class="form-control" id="bool1" name="bool1" type="radio" value="true">
            <label for="bool1">Oui</label>

            <input [(ngModel)]="bibliothecaire" class="form-control" id="bool0" name="bool0" type="radio" value="false" />
            <label for="bool0">Non</label>
        </div>
        <button class="btn btn-primary" type="submit">Valider</button>
    </div>
</form>

<form (ngSubmit)="GetUserById()" class="mb-4">

    <div class="container">
        <div class="form-group">
            <h1 class="text-center">recherche d'un utilisateur
            </h1>
            <input [(ngModel)]="id_user" class="form-control" name="id_user" placeholder="id" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Valider</button>
        <h2> {{ thisUser }}</h2>
    </div>
</form>

<form (ngSubmit)="UpdateUser()" class="mb-4">

    <div class="container">
        <div class="form-group">
            <h1 class="text-center">Modification d'un utilisateur</h1>
            <input [(ngModel)]="id_user_to_update" class="form-control" name="id_user_to_update" placeholder="id_user" type="number">
        </div>
        <div class="form-group">
            <input [(ngModel)]="nomToUpdate" class="form-control" name="nomToUpdate" placeholder="nom" type="text">
        </div>
        <div class="form-group">
            <input [(ngModel)]="prenomToUpdate" class="form-control" name="prenomToUpdate" placeholder="prenom" type="text">
        </div>
        <div class="form-group">
            <input [(ngModel)]="adresseToUpdate" class="form-control" name="adresseToUpdate" placeholder="adresse" type="text">
        </div>
        <div class="form-group">
            <input [(ngModel)]="loginToUpdate" class="form-control" name="loginToUpdate" placeholder="login" type="text">
        </div>
        <div class="form-group">
            <input [(ngModel)]="mot_de_passeToUpdate" class="form-control" name="mot_de_passeToUpdate" placeholder="mot_de_passe" type="text">
        </div>
        <div class="form-group">
            <input [(ngModel)]="bibliothecaireToUpdate" class="form-control" id="bool1U" name="bool1U" type="radio" value="true">
            <label for="bool1U">Oui</label>

            <input [(ngModel)]="bibliothecaireToUpdate" class="form-control" id="bool0U" name="bool0U" U type="radio" value="false" />
            <label for="bool0U">Non</label>
        </div>
        <button class="btn btn-primary" type="submit">Valider</button>
    </div>
</form>

<form (ngSubmit)="DeleteUserById()" class="mb-4">

    <div class="container">
        <div class="form-group">
            <h1 class="text-center">suppression d'un utilisateur
            </h1>
            <input [(ngModel)]="id_user_delete" class="form-control" name="id_user_delete" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Valider</button>
    </div>
</form>

<form (ngSubmit)="GetUsers()" class="mb-4">

    <div class="container">
        <div class="form-group">
            <h1 class="text-center">tout les utilisateurs</h1>
            <button class="btn btn-primary" type="submit">Valider</button>
        </div>
        <p> {{ usersIdT }} </p>
    </div>
</form> -->

<h1>Gestion des Users</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <input (input)="filterUser()" [(ngModel)]="searchText" class="form-control" placeholder="Search" type="text">
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">nom</th>
                <th scope="col">prenom</th>
                <th scope="col">adresse</th>
                <th scope="col">login</th>
                <th scope="col">mot de passe</th>
                <th scope="col">bibliothecaire</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of filteredUser">
                <td>{{ user.id_utilisateur }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.mot_de_passe }}</td>
                <td>{{ user.bibliothecaire }}</td>
                <td>
                    <button (click)="editUser(user)" class="btn btn-primary btn-sm">Edit</button>
                    <button (click)="DeleteUser(user)" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="col-md-6">
        <form (submit)="submitForm()">

            <div class="form-group">
                <label for="nom">nom</label>
                <input [(ngModel)]="newUser.nom" class="form-control" id="nom" name="nom" required type="text">
            </div>

            <div class="form-group">
                <label for="prenom">prenom</label>
                <input [(ngModel)]="newUser.prenom" class="form-control" id="prenom" name="prenom" required type="text">
            </div>

            <div class="form-group">
                <label for="adresse">adresse</label>
                <input [(ngModel)]="newUser.adresse" class="form-control" id="adresse" name="adresse" required type="text">
            </div>

            <div class="form-group">
                <label for="login">login</label>
                <input [(ngModel)]="newUser.login" class="form-control" id="login" name="login" required type="text">
            </div>

            <div class="form-group">
                <label for="mot_de_passe">mot de passe</label>
                <input [(ngModel)]="newUser.mot_de_passe" class="form-control" id="mot_de_passe" name="mot_de_passe" required type="text">
            </div>

            <div class="form-group">
                <label for="bool1">Oui</label>
                <input [(ngModel)]="newUser.bibliothecaire" class="form-control" id="bool1" name="bool1" type="radio" value="true">

                <label for="bool0">Non</label>
                <input [(ngModel)]="newUser.bibliothecaire" class="form-control" id="bool0" name="bool0" type="radio" value="false" />
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>