<div class="container">
  <div class="row">
    <div class="col-md-6">
      <input (input)="filterAbonnes()" [(ngModel)]="searchText" class="form-control" placeholder="Search" type="text">
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">id_utilisateur</th>
      <th scope="col">id_abonne</th>
      <th scope="col">date_début_pénalité</th>
      <th scope="col">date_fin_pénalité</th>
      <th scope="col">nb_infractions</th>
      <th scope="col">actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let abonne of filteredAbonnes">
      <td>{{ abonne.id_utilisateur }}</td>
      <td>{{ abonne.id_abonne }}</td>
      <td>{{ abonne.date_debut_penalite }}</td>
      <td>{{ abonne.date_fin_penalite}}</td>
      <td>{{ abonne.nb_infraction }}</td>
      <td>
        <button class="btn btn-primary btn-sm">Edit</button>
        <button class="btn btn-danger btn-sm">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
